/* Shrink the container size to the absolute minimum */
headerbar {
  min-height: 0px;
  padding: 0px;
  margin: 0px;
}

/* Strip text labels and extra buttons from the tabs */
tabbar tabbox tab label, 
tabbar tabbox tab button {
  display: none;
  padding: 0px;
  margin: 0px;
  border-radius: 0px;
}

/* Format the inactive tab line indicator */
tabbar tabbox tab {
  border-radius: 0px;
  min-height: 0px;
  padding: 0px;
  margin: 0px;
  background-color: #040402; /* Dark grey line for inactive tabs */
}

/* Highlight the active/focused tab indicator */
tabbar tabbox tab:selected {
  border-bottom: 1px solid white;
}
